<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Word Count</th>
      <th>Snippet</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let chunk of data">
      <td>
        <a
          [href]="'https://en.wikipedia.org?curid=' + chunk.pageid"
          target="_blank"
          >{{ chunk.title }}</a
        >
      </td>
      <td>{{ chunk.wordcount }}</td>
      <td [innerHTML]="chunk.snippet"></td>
    </tr>
  </tbody>
</table>
